/* start fonts */
@font-face {
  font-family: '1942';
  src: local('1942'),url('assets/fonts/1942.ttf') format('truetype');
}
@font-face {
    font-family: 'BonheurRoyale';
    src: local('BonheurRoyale'),url('assets/fonts/Dongle/Dongle-Regular.ttf') format('truetype');
}
.nicApp {
    font-family: 'Dongle-Regular' !important;
    cursor: auto;
}
:root {
  font-family: '1942' !important;
  overflow-x: hidden;
}
/* end fonts */
/* start tailwind */
@tailwind base;
@tailwind components;
@tailwind utilities;
/* end tailwind */
/* start scroll-bar */
/* width */
::-webkit-scrollbar {
    width: 7px;
}
/* Track */
::-webkit-scrollbar-track {
    background: rgba(31, 41, 55, 1);
}
/* Handle */
::-webkit-scrollbar-thumb {
    background: white;
}
/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #1dd1a1;
}
/* end scroll-bar */
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
